body {
  background: #00a9ff;
  font-family: "Poppins", sans-serif;
}

.form {
  width: 60%;
  margin: 40px auto;
  padding: 20px;
  background-color: #cdf5fd;
  opacity: 0.9;
  font-size: 0.8rem;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

.form button {
  background-color: #00a9ff;
  border: none;
  border-radius: 4px;
}

.tab_list_pendaftar {
  background-color: #cdf5fd;
  border-radius: 5px;
  width: 60%;
  margin: 40px auto;
  opacity: 0.9;
}

.tab_list_pendaftar h2 {
    padding: 20px;
}

.list_pendaftar {
  width: 100%;
}

.list_pendaftar {
  background-color: #cdf5fd;
  border-radius: 5px;
}

.list_pendaftar th {
  padding: 0 45px;
  /* text-align: center; */
  font-size: 1.1rem;
}
.list_pendaftar td {
  padding: 0 45px;
  font-size: 1em;
  /* text-align: center; */
}

.resume_text {
    text-align: center;
    padding: 50px 0 10px 0;
}